<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= link_to "Back", admin_root_path, class: "govuk-back-link" %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <% if params[:building] %>
      <h4 class="govuk-heading-l"><%= pluralize(@buildings.count, 'building') %> selected</h4>
      <p class="govuk-body">Do you want to send external wall systems <%= @notification_type %>s to these building owners?</p>

      <%= form_with url: confirm_bulk_notifications_admin_buildings_path do |form| %>
        <%= form.hidden_field :notification_type, value: @notification_type %>
        <div class="govuk-form-group">
          <%= form.radio_button :buildings, @buildings %>
          <%= form.label :buildings, "Yes", value: @buildings, class: "govuk-label govuk-radios__label" %>
          <%= form.radio_button :cancel, "No" %>
          <%= form.label :cancel, "No", class: "govuk-label govuk-radios__label" %>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <%= form.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="govuk-body"><strong>No buildings selected</strong></p>
    <% end %>
  </div>
</div>
