<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <%= link_to "Back", admin_root_path, class: "govuk-back-link" %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <% if params[:building] %>
      <h4 class="govuk-heading-l"><%= pluralize(@buildings.count, 'building') %> selected</h4>
      <p class="govuk-body">This will send <%= pluralize(@buildings.count, 'letter') %>. Are you sure?

        <%= form_with url: confirm_bulk_notifications_admin_buildings_path do |form| %>
          <%= form.hidden_field :notification_type, value: @notification_type %>
          <%= form.hidden_field :buildings, value: @buildings %>
          <div class="govuk-form-group">
            <div class="govuk-button-group">
              <%= form.submit "No, go back", class: "govuk-button govuk-button--secondary", data: { module: "govuk-button" } %>
              <%= form.submit "Yes, send the letters", class: "govuk-button", data: { module: "govuk-button" } %>
            </div>
          </div>
        <% end %>
    <% else %>
        <p class="govuk-body"><strong>No buildings selected</strong></p>
    <% end %>
  </div>
</div>
