<%= render 'application/back_link', chosen_path: edit_survey_building_ownership_path(@survey.id, @previous_section.content_id) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div data-controller="building-status">
      <%= form_with model: [@survey, @building_status], local: true do |form_builder| %>
        <% if @building_status.errors.any? %>
          <div class="govuk-error-summary">
            <h2 class="govuk-error-summary__title">
              There was a problem with your survey
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list">
                <% @building_status.errors.full_messages.each do |msg| %>
                  <li>
                    <span class="govuk-error-message">
                      <%= msg %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
        <div class="govuk-form-group <%= " govuk-form-group--error" if @building_status.errors.any? %>">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint changed-name-error">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Please confirm the status of this building
              </h1>
            </legend>
            <div class="govuk-radios">
              <%= form_builder.collection_radio_buttons :status, @building_status.class.statuses, :first, :first do |radio_button| %>
                <div class="govuk-radios__item">
                  <%= radio_button.radio_button(class: "govuk-radios__input", data: { action: "change->building-status#toggle" }) %>
                  <%= radio_button.label(class: "govuk-label govuk-radios__label") { radio_button.text.humanize } %>
                </div>
              <% end %>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="more-detail">
                  Can you provide more detail?
                </label>
              </h1>
              <%= form_builder.text_area :status_details, class: "govuk-textarea", id: "status_details", rows: "5",value: @building_details ? @building_details : '' %>
            </fieldset>
          </div>
          <%= form_builder.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
        <% end %>
      </div>
    </div>
  </div>
