<%= render 'application/back_link', chosen_path: edit_survey_building_wall_path(@survey.id, id: @previous_section) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @insulation, url: survey_building_wall_insulations_path, local: true do |f| %>
      <% if @insulations.errors.any? %>
        <div class="govuk-error-summary">
          <h2 class="govuk-error-summary__title">
            There was a problem with your survey
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list">
              <% @insulations.errors.full_messages.each do |msg| %>
                <li>
                  <span class="govuk-error-message">
                    <%= msg %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="govuk-form-group <%= "govuk-form-group--error" if @insulations.errors[:insulation_material].any? %>">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h2 class="govuk-fieldset__heading govuk-heading-l">
              What insulation is used in combination with <u><%= @material.name %><% if @material.details %> : <%= @material.details %><% end %></u>?
            </h2>
          </legend>
          <div id="waste-hint" class="govuk-hint">
            Please select one
          </div>
          <div class="govuk-checkboxes">
            <%= f.collection_radio_buttons(:insulation, @options_for_insulation, :itself, :itself) do |b| %>
              <div class="govuk-checkboxes__item">
                <%= b.radio_button(class: 'govuk-radios__input', id: "#{@material.name}.#{b.value}", name: "insulation_material[#{@material.id}]") %>
                <%= b.label(class: 'govuk-label govuk-radios__label') %>
              </div>
            <% end %>
            <br>
          </div>
        </fieldset>
        <div class="govuk-form-group <%= "govuk-form-group--error" if @insulations.errors[:insulation_details].any? %>">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend">
              <p class="govuk-body govuk-!-font-size-19"> Please provide any further details you may have about this insulation, such as manufacturer or product name </p>
              <%= f.text_area :insulation_details, rows: "5", class: "govuk-textarea" %>
            </fieldset>
          </div>
        </div>
        <%= f.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
      <% end %>
    </div>
  </div>
