<%= render 'application/back_link', chosen_path: edit_survey_building_tenure_path(@survey.id, @section.content_id) %>
<div data-controller="building-status">
  <%= form_with model: [@survey, @ownership_information] do |form_builder| %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Please confirm ownership status
          </h1>
        </legend>
        <div class="govuk-radios">
          <%= form_builder.collection_radio_buttons :ownership_status, @ownership_information.class.ownership_statuses, :first, :first do |radio_button| %>
            <div class="govuk-radios__item">
              <%= radio_button.radio_button(class: "govuk-radios__input", data: { action: "change->building-status#toggle" }) %>
              <%= radio_button.label(class: "govuk-label govuk-radios__label") { radio_button.text.humanize } %>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group hidden" data-target="building-status.details">
      <h1 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="more-detail">
          Can you provide more detail?
        </label>
      </h1>
      <div id="more-detail-hint" class="govuk-hint">
        Do not include personal or financial information, like your National Insurance number or credit card details.
      </div>
      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
    </div>
    <%= form_builder.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
  <% end %>
</div>
