<%= render 'application/back_link', chosen_path: root_path %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your relationship to the building</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list govuk-!-margin-bottom-8 govuk-!-margin-left-4">
          <li><%= @survey.building.building_name %></li>
          <li><%= @survey.building.street %></li>
          <li><%= @survey.building.city_town %></li>
          <li><%= @survey.building.postcode %></li>
        </ul>
        <div data-controller="building-status">
          <%= form_with model: [@survey, @building_ownership], local: true do |form_builder| %>
            <% if @building_ownership.errors.any? %>
              <div class="govuk-error-summary">
                <h2 class="govuk-error-summary__title">
                  There was a problem with your survey
                </h2>
                <div class="govuk-error-summary__body">
                  <ul class="govuk-list">
                    <% @building_ownership.errors.messages[:ownership_status].each do |msg| %>
                      <li>
                        <span class="govuk-error-message">
                          <%= msg %>
                        </span>
                      </li>
                    <% end %>
                    <% @building_ownership.errors.messages[:empty_details].each do |msg| %>
                      <li>
                        <span class="govuk-error-message">
                          <%= msg %>
                        </span>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
            <div class="govuk-form-group <%= " govuk-form-group--error" if @building_ownership.errors.messages[:ownership_status].any? %>">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-heading-m">
                    What is your role?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-!-margin-bottom-4">
                  <%= form_builder.collection_radio_buttons :ownership_status, @building_ownership.class.ownership_statuses, :first, :first do |radio_button| %>
                    <div class="govuk-radios__item">
                      <%= radio_button.radio_button(class: "govuk-radios__input", data: { action: "change->building-status#toggle" }) %>
                      <%= radio_button.label(class: "govuk-label govuk-radios__label") { radio_button.text.humanize } %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-heading-m">
                    Is this a right-to-manage company?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-!-margin-bottom-4">
                  <%= form_builder.collection_radio_buttons :right_to_manage_company, [[true, 'Yes'] ,[false, 'No']], :first, :last do |radio_button| %>
                    <div class="govuk-radios__item">
                      <%= radio_button.radio_button(class: "govuk-radios__input", data: { action: "change->building-ownership#toggle" }) %>
                      <%= radio_button.label(class: "govuk-label govuk-radios__label") { radio_button.text.humanize } %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group <%= " govuk-form-group--error" if @building_ownership.errors.messages[:empty_details].any? %>">
              <fieldset class="govuk-fieldset">
                <h2 class="govuk-heading-m"><%= form_builder.label :full_name, "Name" %></h2>
                <%= form_builder.text_field :full_name, class: "govuk-input govuk-input--width-10 govuk-!-margin-bottom-3" %>
                <h2 class="govuk-heading-m"><%= form_builder.label :email, "Email" %></h2>
                <%= form_builder.text_field :email, class: "govuk-input govuk-input--width-10 govuk-!-margin-bottom-3" %>
                <h2 class="govuk-heading-m"><%= form_builder.label :organisation, "Organisation" %></h2>
                <%= form_builder.text_field :organisation, class: "govuk-input govuk-input--width-10" %>
              </fieldset>
            </div>
            <div class="govuk-form-group hidden" data-target="building-status.details">
              <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="more-detail">
                  If relevant to the building please provide any other information about how it is managed?
                </label>
              </h2>
              <div id="more-detail-hint" class="govuk-hint">
                Do not include personal or financial information, like your National Insurance number or credit card details.
              </div>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>
            <%= form_builder.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
