<% if flash[:alert] %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      There was a problem recovering your password
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#admin_email"><%= alert %></a>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name)) do |f| %>
  <%= error_summary resource %>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">Forgot your password?</h1>
      </legend>

      <div class="govuk-form-group">
        <%= f.label :email, "Email address", class: "govuk-label" %>
        <%= f.text_field :email, class: "govuk-input govuk-input--width-30", spellcheck: false, autofocus: true, inputmode: "email", autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me password reset instructions", class: "govuk-button", data: { module: "govuk-button" } %>
      </div>

      <p class="govuk-body">
        <%= link_to "Sign in", new_session_path(resource_name), class: "govuk-link" %>
      </p>
    </fieldset>
  </div>
<% end %>
