<div class="dashboard">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">All buildings</h1>
    </div>

    <div class="govuk-grid-column-one-half dashboard-actions">
      <%= link_to "Export data for Delta", admin_buildings_path(:csv), class: "govuk-button govuk-button--download" %>
    </div>
  </div>

  <%= render "filters" %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <%= form_tag bulk_update_admin_buildings_path(@buildings), method: :put do %>
          <caption class="govuk-table__caption govuk-table__caption--l">
            <h2 class="table-header govuk-heading-m">
              <strong>
                <%= t(:"dashboard.headers.buildings.prefix") %>
              </strong>

              <span class="results">
                <% if filtered? %>
                  <%= t(:"dashboard.headers.buildings.filtered", count: @buildings.count) %>
                  (<%= t(:"dashboard.headers.buildings.total", count: @buildings.total_entries) %>)
                <% else %>
                  <%= t(:"dashboard.headers.buildings.total", count: @buildings.total_entries) %>
                <% end %>
              </span>
            </h2>

            <div class="bulk-actions">
              <%= submit_tag "Send letter", class: "govuk-button govuk-button--secondary" %>
              <%= submit_tag "Mark as 'on Delta'", class: "govuk-button govuk-button--secondary", data: { disable_with: "Processing update" } %>
            </div>
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"><%= check_box_tag 'building[id]', @buildings.map(&:id) %></th>
              <th scope="col" class="govuk-table__header">UPRN</th>
              <th scope="col" class="govuk-table__header">Building</th>
              <th scope="col" class="govuk-table__header">Owner</th>
              <th scope="col" class="govuk-table__header">Last emailed</th>
              <th scope="col" class="govuk-table__header">Letter sent</th>
              <th scope="col" class="govuk-table__header">EWS survey</th>
              <th scope="col" class="govuk-table__header">On Delta?</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <% @buildings.each do |building| %>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <%= check_box_tag 'building[building_id][]', building.id %>
                  <%= label_tag 'building[building_id][]', building.id, class: 'govuk-visually-hidden' %>
                </td>
                <td class="govuk-table__cell"><%= link_to building.uprn, edit_admin_building_path(building), class: "govuk-link" %></td>
                <td class="govuk-table__cell">
                  <%= simple_format(building.address, {}, wrapper_tag: "div") %>
                </td>
                <td class="govuk-table__cell">
                  <%= building.land_registry_proprietor_name %>
                  <% if building.land_registry_proprietor_category %>
                    <br />
                    (<%= building.land_registry_proprietor_category %>)
                  <% end %>
                </td>
                <td class="govuk-table__cell email">
                </td>
                <td class="govuk-table__cell letter">
                </td>
                <td class="govuk-table__cell">
                  <% if building.latest_survey.present? %>
                    <% if building.latest_survey.completed %>
                      <%= t(:"helpers.label.building.ews_survey.completed", date: short_date_format(building.latest_survey.completed_at))%>
                    <% end %>
                  <% else %>
                    <%= t(:"helpers.label.building.ews_survey.missing") %>
                  <% end %>
                </td>
                <td class="govuk-table__cell delta">
                  <%= I18n.t building.on_delta, scope: :"helpers.label.building.on_delta" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
