<div class="filters">
  <%= form_with method: :get do |form| %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Filters</h2>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                    Survey status
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                  <% t(:"dashboard.facets").each do |state| %>
                    <div class="govuk-radios__item">
                      <%= form.radio_button :state, state, checked: @buildings.scope.to_s == state, class: "govuk-radios__input" %>
                      <%= form.label :state, value: state, class: "govuk-label govuk-radios__label" %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="govuk-grid-column-one-quarter">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                    Delta status
                  </h3>
                </legend>
                <div class="govuk-radios govuk-radios--small govuk-radios--conditional" data-module="govuk-radios">
                  <% t(:"dashboard.delta_facets").each do |state| %>
                    <div class="govuk-radios__item">
                      <%= form.radio_button :delta_state, state, checked: state == selected_delta_facet, class: "govuk-radios__input" %>
                      <%= form.label :delta_state, value: state, class: "govuk-label govuk-radios__label" %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <%= form.submit "Filter", class: "govuk-button" %>
      </div>
    </div>
  <% end %>
</div>
