<%= render "application/back_link", chosen_path: goto_path("external_walls_summary") %>

<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Are you sure you want to delete the material ‘<%= t(@survey.material.type, scope: :"survey.wall_material.types", other: @survey.material.other_type) %>’?
    </h1>

    <p class="govuk-body-l">
      This cannot be undone.
    </p>

    <%= form_tag survey_path do %>
      <%= hidden_field_tag "survey[confirm_deletion]", "true" %>
      <div class="govuk-button-group">
        <%= button_tag "Delete ‘#{t(@survey.material.type, scope: :"survey.wall_material.types", other: @survey.material.other_type)}’", name: nil, class: "govuk-button govuk-button--warning",data: { module: "govuk-button" } %>
        <%= link_to "Go back to summary", goto_path("external_walls_summary"), draggable: false, class: "govuk-button govuk-button--secondary" %>
      </div>
    <% end %>
  </div>
</div>
