<%= render "application/back_link", chosen_path: goto_path("height") %>

<div class="govuk-grid-row govuk-!-margin-top-2">
  <div class="govuk-grid-column-two-thirds">
    <%= error_summary @survey %>
    <%= form_with model: @survey do |form| %>
      <%= form.hidden_field :materials %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Add external wall materials</h1>
          </legend>
          <%= form_group for: [@survey, :materials] do %>
            <%= error_message_for @survey, :materials %>
            <% if @survey.materials.empty? %>
              <p class="govuk-hint">
                You haven't added any materials yet.
              </p>
            <% else %>
              <div class="govuk-form-group">
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--l">Building materials</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Material</th>
                      <th scope="col" class="govuk-table__header">Percentage</th>
                      <th scope="col" class="govuk-table__header">Insulation</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <%= @survey.materials.each do |material| %>
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header"><%= material.name %></th>
                        <td class="govuk-table__cell"><%= material.percentage %></td>
                        <td class="govuk-table__cell"><%= material.insulation %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
          <% end %>
          <%= form.submit "Add material", class: "govuk-button govuk-button--secondary" %>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <%= form.submit "Save and continue", class: "govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
