<%= render "application/back_link", chosen_path: goto_path("uprn") %>

<%= form_with model: @survey do |form| %>
  <div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary @survey %>

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Your details
          </h1>
        </legend>
        <p class="govuk-body">
          Please provide your details so Southwark Council can
          contact you if they require any further information.
          Your contact details will not be shared with anybody else.
        </p>

        <%= form_group for: [@survey, :full_name] do %>
          <%= form.label :full_name, class: "govuk-label" %>
          <%= error_message_for @survey, :full_name %>
          <%= form.text_field :full_name, spellcheck: false, autocomplete: "name", class: "govuk-input" %>
        <% end %>

        <%= form_group for: [@survey, :email] do %>
          <%= form.label :email, class: "govuk-label" %>
          <div id="email-hint" class="govuk-hint">
            We’ll only use this if we need to contact you about the building
          </div>
          <%= error_message_for @survey, :email %>
          <%= form.text_field :email, spellcheck: false, autocomplete: "email", inputmode: "email", class: "govuk-input", aria: { describedby: "email-hint" } %>
        <% end %>
      </fieldset>

      <%= form_group for: [@survey, :role] do %>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            How are you connected to the building?
          </legend>

          <%= error_message_for @survey, :role %>

          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <% @survey.roles.each do |role| %>
              <div class="govuk-radios__item">
                <% if role == "other" %>
                  <%= form.radio_button :role, role, class: "govuk-radios__input", aria: { controls: "conditional-role" } %>
                <% else %>
                  <%= form.radio_button :role, role, class: "govuk-radios__input" %>
                <% end %>
                <%= form.label :role, value: role, class: "govuk-label govuk-radios__label" %>
              </div>
            <% end %>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-role">
              <%= form_group for: [@survey, :role_details] do %>
                <%= form.label :role_details, "Please describe your relationship to the building", class: "govuk-label" %>
                <%= error_message_for @survey, :role_details %>
                <%= form.text_area :role_details, class: "govuk-textarea" %>
              <% end %>
            </div>
          </div>
        </fieldset>
      <% end %>

      <div class="govuk-form-group">
        <%= form.button "Continue", class: "govuk-button" %>
      </div>
    </div>
  </div>
<% end %>
