<%= render 'application/back_link', chosen_path: goto_path("uprn") %>
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your relationship to the building</h1>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list govuk-list govuk-!-margin-bottom-8 govuk-!-margin-left-4">
          <li><%= @survey.building.building_name %></li>
          <li><%= @survey.building.street %></li>
          <li><%= @survey.building.city_town %></li>
          <li><%= @survey.building.postcode %></li>
        </ul>
        <div>
          <%= form_with model: @survey do |form| %>
            <%= render "errors" %>
            <div class="govuk-form-group <%= " govuk-form-group--error" if form.object.errors.messages[:ownership_status].any? %>">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-heading-m">
                    What is your role?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-!-margin-bottom-4">
                  <% @survey.roles.each do |role| %>
                    <div class="govuk-radios__item">
                      <%= form.radio_button :role, role, class: "govuk-radios__input" %>
                      <%= form.label :role, value: role, class: "govuk-label govuk-radios__label" %>
                    </div>
                  <% end %>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-heading-m">
                    Is this a right-to-manage company?
                  </h2>
                </legend>
                <div class="govuk-radios govuk-!-margin-bottom-4">
                  <div class="govuk-radios__item">
                    <%= form.radio_button :right_to_manage_company, "true", class: "govuk-radios__input" %>
                    <%= form.label :right_to_manage_company, value: "true", class: "govuk-label govuk-radios__label" %>
                  </div>
                  <div class="govuk-radios__item">
                    <%= form.radio_button :right_to_manage_company, "false", class: "govuk-radios__input" %>
                    <%= form.label :right_to_manage_company, value: "false", class: "govuk-label govuk-radios__label" %>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="govuk-form-group <%= " govuk-form-group--error" if form.object.errors.messages[:empty_details].any? %>">
              <fieldset class="govuk-fieldset">
                <h2 class="govuk-heading-m"><%= form.label :full_name, "Name" %></h2>
                <%= form.text_field :full_name, class: "govuk-input govuk-input--width-10 govuk-!-margin-bottom-3" %>
                <h2 class="govuk-heading-m"><%= form.label :email, "Email" %></h2>
                <%= form.text_field :email, class: "govuk-input govuk-input--width-10 govuk-!-margin-bottom-3" %>
                <h2 class="govuk-heading-m"><%= form.label :organisation, "Organisation" %></h2>
                <%= form.text_field :organisation, class: "govuk-input govuk-input--width-10" %>
              </fieldset>
            </div>
            <div class="govuk-form-group hidden" data-target="building-status.details">
              <h2 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m" for="more-detail">
                  If relevant to the building please provide any other information about how it is managed?
                </label>
              </h2>
              <div id="more-detail-hint" class="govuk-hint">
                Do not include personal or financial information, like your National Insurance number or credit card details.
              </div>
              <%= form.text_area :ownership_details, rows: "5", class: "govuk-textarea", aria: { describedby: "more-detail-hint" } %>
            </div>
            <%= form.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
          <% end %>
        </div>
      </div>
    </div>
  </main>
</div>
