<%= render "application/back_link", chosen_path: goto_path("has_residential") %>

<%= form_with model: @survey do |form| %>
  <%= form.hidden_field :usage %>

  <div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary @survey %>

      <%= form_group for: [@survey, :usage] do %>
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is the residential part of the building mainly used for?
            </h1>
          </legend>

          <%= error_message_for @survey, :usage %>

          <div class="govuk-radios">
            <% @survey.residential_use_options.each do |option| %>
              <div class="govuk-radios__item">
                <%= form.radio_button :usage, option, class: "govuk-radios__input" %>
                <%= form.label :usage, value: option, class: "govuk-label govuk-radios__label" %>
              </div>
            <% end %>
          </div>
        </fieldset>
      <% end %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with identifying the building’s main use
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            A building may have multiple uses. For example, if a
            building is mainly used for offices or shops but also
            contains a hotel, please select hotel.
          </p>

          <p>
            For a building that has social and private housing,
            but is owned by a private freeholder, please select
            private residential.
          </p>
        </div>
      </details>

      <div class="govuk-form-group">
        <%= form.submit "Continue", class: "govuk-button" %>
      </div>
    </div>
  </div>
<% end %>
