<%= render 'application/back_link', chosen_path: root_path %>

<%= form_with model: @survey do |form| %>
  <%= render "errors" %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Building details</span>
            <h1 class="govuk-fieldset__heading">
              What is the building's UPRN?
            </h1>
          </legend>
          <div id="uprn-hint" class="govuk-hint">
            You can find it in the letter or email we've sent you.
          </div>
          <div class="govuk-form-group <%= " govuk-form-group--error" if @survey.errors.any? %>">
            <%= form.label :uprn, "Unique Property Reference Number (UPRN)", class: "govuk-label" %>
            <%= form.number_field :uprn, class: "govuk-input" %>
          </div>
        </fieldset>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a UPRN?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Unique property reference numbers (UPRNs) are the
            unique identifiers for every addressable location in Great Britain.</p>

          <p>An addressable location may be any kind of building,
            residential or commercial, or it may be an object that might not have
            a ‘postal ’ address – such as a bus shelter.</p>
        </div>
      </details>
    </div>
  </div>
  <%= form.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
<% end %>
