<%= render "application/back_link", chosen_path: root_path %>

<%= form_with model: @survey do |form| %>
  <div class="govuk-grid-row govuk-!-margin-top-2">
    <div class="govuk-grid-column-two-thirds">
      <%= error_summary @survey %>

      <%= form_group for: [@survey, :uprn] do %>
        <%= form.label :uprn, class: "govuk-label" do %>
          <h1 class="govuk-heading-l">What is the building’s UPRN?</h1>
        <% end %>
        <div id="uprn-hint" class="govuk-hint">
          This is the 10 to 12 digit number listed on the letter that was sent to you. For example 20012524507
        </div>
        <%= error_message_for @survey, :uprn %>
        <%= form.text_field :uprn, inputmode: "numeric", class: "govuk-input", aria: { describedby: "uprn-hint" } %>
      <% end %>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a UPRN?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Unique property reference numbers (UPRNs) are the
            unique identifiers for every addressable location in Great Britain.</p>

          <p>An addressable location may be any kind of building,
            residential or commercial, or it may be an object that might not have
            a ‘postal ’ address – such as a bus shelter.</p>
        </div>
      </details>

      <div class="govuk-form-group">
        <%= form.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
      </div>
    </div>
  </div>
<% end %>
