<%= render 'application/back_link', chosen_path: root_path %>
<%= form_with model: @survey, local: true do |form| %>
  <h1 class="govuk-heading-xl">Get started</h1>
  <% if @survey.errors.any? %>
    <div class="govuk-error-summary">
      <h2 class="govuk-error-summary__title">There is a problem</h2>
      <div class="govuk-error-summary__body">
        <ul>
          <li>Either you have not entered a UPRN number or the number you have entered is not correct.</li>
          <li>Please check the code provided on the letter or email.</li>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="govuk-form-group <%= " govuk-form-group--error" if @survey.errors.any? %>">
    <p class="govuk-body">Enter the unique property reference number (UPRN) for the building.</p>
    <%= form.text_field :uprn, class: "govuk-input govuk-input--width-20" %>
  </div>
  <p class="govuk-body">You should have received this number in the letter or email notifying you to complete this survey.</p>
  <%= form.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
<% end %>
