<div class="admin">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">All buildings</h1>
    </div>

    <div class="govuk-grid-column-one-half admin-actions">
      <%= link_to "Export data for Delta", admin_buildings_path(:csv), class: "govuk-button govuk-button--download" %>
    </div>
  </div>

  <ul class="govuk-tabs__list" role="tablist">
    <% SurveyStateMachine.states.each do |state| %>
      <li class="govuk-tabs__list-item <%= @current_state == state ? "govuk-tabs__list-item--selected"  : "" %>" role="presentation">
        <%= link_to state.humanize, admin_buildings_path(state: state), class: "govuk-tabs__tab", role: "tab" %>
      </li>
    <% end %>
  </ul>

  <div class="govuk-tabs__panel listing" id="<%= @current_state %>">
    <h2 class="govuk-heading-m"><%= @current_state.humanize %></h2>

    <%= render "admin/buildings/tables/#{@current_state}", buildings: @buildings %>
  </div>
</div>
