<div class="admin">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">All buildings (<%= @total_count %>)</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-form-group">
        <%= form_with(url: uprn_search_admin_buildings_path, method: :get) do |f| %>
          <%= f.label :uprn, "UPRN", class: "govuk-label" %>
          <%= f.text_field :uprn, { class: "govuk-input govuk-input--width-10", required: true, placeholder: '1234567890' } %>

          <%= f.submit "Find by UPRN", class: "govuk-button" %>
        <% end %>
      </div>
    </div>
  </div>

  <ul class="govuk-tabs__list" role="tablist">
    <% SurveyStateMachine.states.each do |state| %>
      <li class="govuk-tabs__list-item <%= @current_state == state ? "govuk-tabs__list-item--selected"  : "" %>" role="presentation">
        <%= link_to state.humanize, admin_buildings_path(state: state), class: "govuk-tabs__tab", role: "tab" %>
      </li>
    <% end %>
  </ul>

  <div class="govuk-tabs__panel listing" id="<%= @current_state %>">
    <h2 class="govuk-heading-m">
      <%= @current_state.humanize %> (<%= @buildings.total_entries %>)
      <span class="percentage"><%= tab_percentage %></span>
    </h2>

    <% if @buildings.total_pages > 1 %>
      <p class="govuk-body">Page <%= @buildings.current_page %>/<%= @buildings.total_pages %></p>

      <div class="govuk-button-group">
        <% if @buildings.first_page? %>
          <span class="govuk-button govuk-button--secondary govuk-button--disabled">Previous page</span>
        <% else %>
          <%= link_to "Previous page", admin_root_path(@buildings.previous_params), class: "govuk-button govuk-button--secondary" %>
        <% end %>

        <% if @buildings.last_page? %>
          <span class="govuk-button govuk-button--secondary govuk-button--disabled">Next page</span>
        <% else %>
          <%= link_to "Next page", admin_root_path(@buildings.next_params), class: "govuk-button govuk-button--secondary" %>
        <% end %>
      </div>
    <% end %>

    <%= render "admin/buildings/tables/#{@current_state}", buildings: @buildings %>
  </div>
</div>
