<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Add a building record</h1>
    <%= form_with model: [:admin, @building], local: true do |form_builder| %>
      <% if @building.errors.any? %>
        <div class="govuk-error-summary">
          <h2 class="govuk-error-summary__title">
            There was a problem with your survey
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list">
              <% @building.errors.full_messages.each do |msg| %>
                <li>
                  <span class="govuk-error-message">
                    <%= msg %>
                  </span>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="<%= "govuk-form-group--error" if @building.errors.any? %>">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Building information</legend>
            <div class="govuk-form-group">
              <%= form_builder.label :uprn, "UPRN", class: "govuk-label" %>
              <%= form_builder.text_field :uprn, class: "govuk-input" %>
            </div>
            <div class="govuk-form-group">
              <%= form_builder.label :building_name, "Building name", class: "govuk-label" %>
              <%= form_builder.text_field :building_name, class: "govuk-input" %>
            </div>
            <div class="govuk-form-group">
              <%= form_builder.label :street, "Building street", class: "govuk-label" %>
              <%= form_builder.text_field :street, class: "govuk-input" %>
            </div>
            <div class="govuk-form-group">
              <%= form_builder.label :postcode, "Building postcode", class: "govuk-label" %>
              <%= form_builder.text_field :postcode, class: "govuk-input" %>
            </div>
          </fieldset>
        </div>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Building proprietor information</legend>
            <div class="govuk-form-group">
              <%= form_builder.label :land_registry_proprietor_name, "Proprietor name", class: "govuk-label" %>
              <%= form_builder.text_field :land_registry_proprietor_name, class: "govuk-input" %>
            </div>
            <div class="govuk-form-group">
              <%= form_builder.label :proprietor_email, "Proprietor email", class: "govuk-label" %>
              <%= form_builder.email_field :proprietor_email, class: "govuk-input" %>
            </div>
            <div class="govuk-form-group">
              <%= form_builder.label :land_registry_proprietor_address, "Proprietor address", class: "govuk-label" %>
              <%= form_builder.text_field :land_registry_proprietor_address, class: "govuk-input" %>
            </div>
          </fieldset>
        </div>
      </div>
      <%= form_builder.submit "Add building", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>
