<%= render "application/back_link", chosen_path: admin_root_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-m"><%= @building.address %></h1>
    <div class="govuk-grid-row govuk-!-margin-top-9">
      <div class="govuk-grid-column-three-quarters">
        <h2 class="govuk-heading-l">Building details</h2>
      </div>
      <div class="govuk-grid-column-one-quarter">
        <%= link_to "Edit building details", edit_admin_building_path(@building), class: "govuk-button govuk-button--secondary" %>
      </div>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <%= summary_row :uprn, @building.uprn %>
      <%= summary_row :land_registry_proprietor_name, @building.land_registry_proprietor_name %>
      <%= summary_row :proprietor_email, @building.proprietor_email %>
      <%= summary_row :land_registry_proprietor_address, @building.land_registry_proprietor_address %>
    </dl>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--m">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-9">Survey details</h2>
    <% if @building.survey.present? %>

      <strong class="govuk-tag govuk-!-margin-bottom-4 <%= @building.survey_state.current_state  %>">
        <%= @building.survey_state.current_state.humanize %>
      </strong>

      <%= render @building.survey.summaries(self), readonly: true %>

      <%= form_with url: admin_building_survey_state_path(@building), method: :put do |form| %>
        <div class="govuk-button-group">
          <% if @building.survey_state.can_transition_to? :accepted %>
            <%= form.submit "Accept survey data", class: "govuk-button", data: { module: "govuk-button" } %>
          <% end %>

          <% if @building.survey_state.can_transition_to? :rejected %>
            <%= form.submit "Reject survey data", class: "govuk-button govuk-button--warning", data: { module: "govuk-button" } %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <p class="govuk-body">No survey has been submitted yet.</p>
    <% end %>
  </div>
</div>
