<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check your answers</h1>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <% @survey.sections.each do |survey_section| %>
        <div class="govuk-summary-list__row" data-information-displayed="<%= survey_section.name.parameterize %>">
          <dt class="govuk-summary-list__key"><%= survey_section.name %></dt>
          <dd class="govuk-summary-list__value"><%= survey_section.reply %></dd>
          <dd class="govuk-summary-list__actions">
            <%= link_to [:edit, @survey, survey_section.content], class: "govuk-link" do %>
              Change<span class="govuk-visually-hidden"> <%= survey_section.name %></span>
            <% end %>
          </dd>
        </div>
      <% end %>
    </dl>

    <%= button_to "Submit", survey_end_survey_path(@survey), remote: true, class: "govuk-button", data: { module: "govuk-button" } %>
  </div>
</div>
