<h4 class="govuk-heading-l">Admin dashboard</h1>

<nav>
  <%= link_to "Upload building list", new_admin_bulk_import_path, class: "govuk-button" %>
  <%= link_to "Add a building record", new_admin_building_path, class: "govuk-button" %>
</nav>

<table class="govuk-table">
  <caption class="govuk-table__caption">Building records</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">UPRN</th>
      <th scope="col" class="govuk-table__header">Address</th>
      <th scope="col" class="govuk-table__header">Proprietor</th>
      <th scope="col" class="govuk-table__header">
        Proprietor address
      </th>
      <th scope="col" class="govuk-table__header">Contacts</th>
      <th scope="col" class="govuk-table__header"></th>
      <th scope="col" class="govuk-table__header">Survey state</th>
      <th scope="col" class="govuk-table__header">Actions</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% @buildings.each do |building| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= building.uprn %></td>
        <td class="govuk-table__cell">
          <%= building.building_name %><br />
          <%= building.street %><br />
          <%= building.postcode %>
        </td>
        <td class="govuk-table__cell">
          <%= building.land_registry_proprietor_name %>
          <% if building.land_registry_proprietor_category %>
            <br />
            (<%= building.land_registry_proprietor_category %>)
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <%= building.land_registry_proprietor_address %>
        </td>
        <td class="govuk-table__cell">
          <% if building.proprietor_email %>
            <%= link_to(
              "Email survey link",
              admin_building_notifications_path(building, mean_of_notification: :email),
              method: :post,
              remote: true
            ) %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% building.most_recent_notifications.each do |notification| %>
            <%= notification.summary %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <% if building.survey.nil? %>
            Not started
          <% elsif building.survey %>
            Started on <%= building.survey.created_at.to_date %><br />
            Most recent answer: <%= building.survey.most_recently_answered_question&.name || "N/A" %><br />
            <%= link_to "View summary", "#" %>
          <% end %>
        </td>
        <td class="govuk-table__cell">
          <%= link_to "Edit", edit_admin_building_path(building) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
