<%= render 'application/back_link', chosen_path: edit_survey_building_tenure_path(@survey.id, @previous_section.content_id) %>
<div data-controller="building-status">
  <%= form_with model: [@survey, @building_height] do |f| %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Is this building 18m or higher?
          </h1>
        </legend>
        <div class="govuk-radios">
          <%= f.collection_radio_buttons :higher_than_18_meters, [[true, 'Yes'] ,[false, 'No']], :first, :last do |radio_button| %>
            <div class="govuk-radios__item">
              <%= radio_button.radio_button(class: "govuk-radios__input", data: { action: "change->building-height#toggle" }) %>
              <%= radio_button.label(class: "govuk-label govuk-radios__label") { radio_button.text.humanize } %>
            </div>
          <% end %>
        </div>
      </fieldset>
    </div>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
              How tall is the building?
            </label>
          </h1>
          <%= f.label :height_in_meters, "In metres (optional)", class: "govuk-label" %>
          <%= f.text_field :height_in_meters, class: "govuk-input govuk-input--width-10" %>
          <%= f.label :height_in_storeys, "In storeys (optional)", class: "govuk-label" %>
          <%= f.text_field :height_in_storeys, class: "govuk-input govuk-input--width-10" %>
      </fieldset>
    </div>
    <%= f.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
    <h2 class="govuk-heading-m">How to measure the building</h2>
    <p class="govuk-body">Measurements should be taken from the ground to the floor of the top level.</p>
    <img src=<%= image_url("building_height.png")%> alt="building_height">
    <p class="govuk-body">Diagram sourced from: <%= link_to "Approved Document B on Appendix D Diagram D4, on page 142", "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/832631/Approved_Document_B__fire_safety__volume_1_-_2019_edition.pdf" %>
  <% end %>
</div>
