<div data-controller="building-status">
  <%= form_with model: [@survey, @building_height] do |f| %>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="event-name">
              If known, what is the height of this building?
            </label>
          </h1>
          <%= f.label "In meters", nil, class: "govuk-label", for: "width-10" %>
          <%= f.text_field(:height_in_meters, class: "govuk-input govuk-input--width-10") %>
          <%= f.label "In storeys", nil, class: "govuk-label", for: "width-10" %>
          <%= f.text_field(:height_in_storeys, class: "govuk-input govuk-input--width-10") %>
        </fieldset>
      </div>
      <%= f.submit "Continue", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
  </div>
