<!DOCTYPE html>
<html>
  <head>
    <title>Building Safety Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="govuk-template__body">
    <%= render "application/header" %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
    <%= javascript_pack_tag 'govuk', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
