<!DOCTYPE html>
<html class= "custom-background">
  <head>
    <title>Building Safety Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="govuk-template__body">
    <%= render "application/header" %>
    <div class="govuk-width-container app-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">
        <%= render "messages" %>
        <%= yield %>
      </main>
      <%= javascript_pack_tag 'govuk' %>
    </div>
    <%= render "application/footer"%>
  </body>
</html>
